.puzzle-right-sider {
    border-left: 1px solid $border;
}

.puzzle-left-sider {
    border-right: 1px solid $border;
}

.ant-layout-sider {
    height: 100vh;
}

@media (max-width: 767px) {
    .ant-layout-sider {
        height: calc(var(--vh, 1vh)  * 100);
    }
}